services:

  reforge:
    container_name: reforge
    image: reforge:neo
    #entrypoint: /bin/bash
    #stdin_open: true # docker run -i
    #tty: true        # docker run -t
    volumes:
      - reforge-config:/home/ubuntu/config
      - reforge-extensions:/home/ubuntu/stable-diffusion-webui/extensions
      - type: bind
        source: ./models
        target: /home/ubuntu/stable-diffusion-webui/models
      - type: bind
        source: ./output
        target: /home/ubuntu/stable-diffusion-webui/output
    ports:
      - 7860:7860
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

volumes:
  reforge-config:
    name: reforge-config
  reforge-extensions:
    name: reforge-extensions
